<!DOCTYPE html>
<html>
<head>
    <title>ShapeShift Blog</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<link href="//fonts.googleapis.com/css?family=Roboto:300,300i,400,400i,700,700i" rel="stylesheet">
<link href="../public/css/blog-style.css" rel="stylesheet" />
</head>
<body>
    <header>
        <h1>Blog Posts</h1>
       
    </header>
    <main>
        <section class="blog-post">
            <h2>{{blogPost.title}}</h2>
            <p class="date">{{blogPost.date}}</p>
            <p class="author">By {{blogPost.author}}</p>
            <p>{{blogPost.content}}</p>
        </section>

        <section class="blog-post">
            <h2>{{blogPost.title}}</h2>
            <p class="date">{{blogPost.date}}</p>
            <p class="author">By {{blogPost.author}}</p>
            <p>{{blogPost.content}}</p>
        </section>
        
       
    </main>
    <script src="handlebars.js"></script>
    <script id="blog-template" type="text/x-handlebars-template">

   
        <script id="blog-template" type="text/x-handlebars-template">
            <section class="blog-post">
                <h2>{{title}}</h2>
                <p class="date">{{date}}</p>
                <p class="author">By {{author}}</p>
                <p>{{content}}</p>
            </section>
        </script>
        
    </script>
    <script src="../public/js/main.js"></script>
</body>
</html>
