<style>
  .hero {
    background-color: antiquewhite;
  height: 100%;
  background-position: center;
 
  background-size: cover;
  }
    .navbar {
    margin-bottom: 0;
    border-radius: 0;
  }
  .row.content {height: 450px}
  
.jumbotron {
    background-image:url("../images/AdobeStock_486189863_Preview.jpeg");
    text-align: center;
 }
 .side div {
    height: 125px;
    
   
 }
 h1 {
  
 }
 
h5 {
    font-style: oblique;
}

  .sidenav {
    padding-top: 60px;
    margin-right: 60px;
    height: 100%;
}
.side {
  height:100%;
}

  .btn-default {
      background: #000;
      color: #fff;
   }
  .btn-default:hover {
      background: #fff;
      color: #000;
   }
  footer {
    background-color: #555;
    color: white;
    padding: 15px;
  }
 

  @media screen and (max-width: 767px) {
    .sidenav {
      height: auto;
      padding: 15px;
    }
    .row.content {height:auto;} 
  }


  .logo {
    font-size: 1.5rem;
    font-weight: bold;
  }

  .navigation {
    display: flex;
    gap: 20px;
  }

  h2 {
    font-size: 1.2rem;
    margin-bottom: 15px;
  }

  .post {
    border: 1px solid #000000;
    border-radius: 5px;
    padding: 20px;
    margin-bottom: 20px;
     background-color: #fff;
  }

  .workout {
    background-color: #fff;
    margin-top: 40px;
    margin-bottom: 40px;
  }
  .post p {
    margin-top: 10px;
  }
  #underlined {
    text-decoration: underline;
  }
  .background {
    background-color: rgb(255, 255, 255);
  }
  .side a {
    text-decoration:none;
  }

 </style>
 <div class="hero">
<div class="jumbotron" id="hero">
    <h1>ShapeShift</h1>
</div>
<div class="container-fluid text-center ">
    <div class="row content ">
        <div class="col-sm-2 sidenav ">
            <div class="side ">
                <h3 id="underlined">Try these Workouts!</h3>
               
                {{#each workouts as |workout|}}
                <a href="/workout/{{workout.id}}">
                        <h4> {{format_date workout.workout_date}}</h4>
                        <p>{{workout.category}}</p> 
                        <p>Reps: {{workout.reps}}</p> 
                        <p>Sets: {{workout.sets}}</p> 
                        <p>Duration: {{workout.duration}}</p> 
                        <p>Distance: {{workout.distance}}</p>
                       <p>Details: {{workout.details}}</p> 
                       <p>_____________________</p>
                </a>
              {{/each}}
         </div>
        </div>
        <div class="container-fluid text-center">
            <div class="row content">
                <div class="col-sm-8 text-center">
                    <h1>Welcome {{user}}</h1>
                    <h1></h1>
                    

                    <h1>Blogs</h1>
                    {{#each blogs as |blog| }}
                     <a href="/blogs/{{blog.id}}">
                    <div class="post">
                        <h3>{{blog.author}}</h3>
                        <h4>{{format_date blog.date}}</h4>
                          <h4>{{blog.title}}</h4>
                        <p>{{blog.content}}</p>
                       </div>
                       </a>
                    {{/each}}
                    
                </div>


            </div>
        </div>
    </div>
</div>
</div>
<footer class="container-fluid text-center">
    <p>ShapeShifters </p>
</footer>

</body>