<style>
  .hero {
    background-image: url("../images/360_F_263042244_sZry3DZkkgoBfuSxR0ZN8DN9tiL6oSEW.jpg");
  height: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  }
    .navbar {
    margin-bottom: 0;
    border-radius: 0;
  }
  .row.content {height: 450px}
  
.jumbotron {
    background-image:url("../images/AdobeStock_486189863_Preview.jpeg");
    text-align: center;
 }
 .side div {
    height: 125px;
    
   
 }
 h1 {
  
 }
 
h5 {
    font-style: oblique;
}

  .sidenav {
    padding-top: 60px;
    
    height: 100%;
}


  .btn-default {
      background: #000;
      color: #fff;
   }
  .btn-default:hover {
      background: #fff;
      color: #000;
   }
  footer {
    background-color: #555;
    color: white;
    padding: 15px;
  }
 

  @media screen and (max-width: 767px) {
    .sidenav {
      height: auto;
      padding: 15px;
    }
    .row.content {height:auto;} 
  }


  .logo {
    font-size: 1.5rem;
    font-weight: bold;
  }

  .navigation {
    display: flex;
    gap: 20px;
  }

  h2 {
    font-size: 1.2rem;
    margin-bottom: 15px;
  }

  .post {
    border: 1px solid #000000;
    border-radius: 5px;
    padding: 20px;
    margin-bottom: 20px;
     background-color: #fff;
  }

  .workout {
    background-color: #fff;
    margin-top: 40px;
    margin-bottom: 40px;
  }
  .post p {
    margin-top: 10px;
  }

 </style>
 <div class="hero">
<div class="jumbotron" id="hero">
    <h1>ShapeShift</h1>
</div>
<div class="container-fluid text-center">
    <div class="row content">
        <div class="col-sm-2 sidenav">
            <div class="side">
                <h3>Try these Workouts!</h3>
               
                {{#each workouts as |workout|}}
                 <div class="workout">
                        <h4> {{format_date workout.workout_date}}</h4>
                        <p>{{workout.category}}</p>
                        <p>{{workout.details}}</p>     
                        <p>_________________</p>
                </div> 
             
              {{/each}}
         </div>
           

        </div>
        <div class="container-fluid text-center">
            <div class="row content">
                <div class="col-sm-8 text-center">
                    <h1>Welcome {{user}}</h1>
                    <h1></h1>
                    

                    <h1>Blogs</h1>
                    {{#each blogs as |blog| }}
                    <div class="post">
                        <h3>{{blog.user.name}}</h3>
                          <h5>{{blog.title}}</h5>
                        <p>{{blog.description}}</p>
                       </div>
                    {{/each}}
                    
                </div>


            </div>
        </div>
    </div>
</div>
</div>
<footer class="container-fluid text-center">
    <p>ShapeShifters </p>
</footer>

</body>