
<div class="hero">
  <div class="jumbotron" id="hero">
    <h1>ShapeShift</h1>
  </div>
  <div class="container-fluid text-center ">
    <div class="row content ">
      <div class="col-sm-2 sidenav ">
        <div class="side ">
          <h3 id="underlined">Try these Workouts!</h3>
          {{#each workouts as |workout|}}
          <a href="/workouts">
            <h4> {{format_date workout.workout_date}}</h4>
            <p>{{workout.category}}</p>
            <p>Reps: {{workout.reps}}</p>
            <p>Sets: {{workout.sets}}</p>
            <p>Duration: {{workout.duration}}</p>
            <p>Distance: {{workout.distance}}</p>
            <p>Details: {{workout.details}}</p>
            <p>_____________________</p>
          </a>
          {{/each}}
        </div>
      </div>
      <div class="container-fluid text-center">
        <div class="row content">
          <div class="col-sm-8 text-center">
            <h1> <div id="top">Welcome {{user}}</div></h1>
           
            <h2>Recent Posts </h2>
            <div class"=down">
            <button id="button" data-toggle="modal"
                data-target="#ModalLoginForm">+</button>
</div><section class="main">
            {{#each posts as |post| }}
            
            
    <div class="wrapper">
        <div class="left-col">

            <div class="post">
                <div class="info">
                    <div class="user">
                        <div class="profile-pic"><img src="/images/ping.png" alt=""></div>
                        <p class="username">{{post.title}}</p>
                    </div>
                    
                </div>
                <img src="{{post.image}}" class="post-image" alt="">
                <div class="post-content">
                    <p class="description"><span>{{post.user.name}} </span> {{post.caption}}</p>
                    <p class="post-time">{{format_date post.date}}</p>
                </div>
                
            </div>
            </section>
            
            {{/each}}
          </div>
  
        </div>
      </div>
    </div>
  </div>
</div>

 <div class="container">
  <svg viewBox="0 0 960 300">
    <symbol id="s-text">
      <text text-anchor="middle" x="50%" y="80%">Montserrat</text>
    </symbol>

    <g class = "g-ants">
      <use xlink:href="#s-text" class="text-copy"></use>
      <use xlink:href="#s-text" class="text-copy"></use>
      <use xlink:href="#s-text" class="text-copy"></use>
      <use xlink:href="#s-text" class="text-copy"></use>
      <use xlink:href="#s-text" class="text-copy"></use>
    </g>
  </svg>
</div>
<footer class="container-fluid text-center">
  <p>ShapeShifters </p>
</footer>

<script src="https://upload-widget.cloudinary.com/global/all.js" type="text/javascript"></script>
<!-- Modal HTML Markup -->
<div id="ModalLoginForm" class="modal fade">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <div class="modal-body">
          <h1>Add Post</h1>
          <form role="form" method="POST" action="">
            <input type="hidden" name="_token" value="">
            <div class="form-group">
              <label class="control-label">Title: </label>
              <div>
                <input type="text" class="form-control input-lg"  id="post-title" name="name" value="">
              </div>
            </div>
            <div class="form-group">
              <label class="control-label">Image: </label>
              <button id="upload_widget" class="cloudinary-button">Upload files</button>
            </div>
            
            <div class="form-group">
              <label for="exampleFormControlTextarea1">Caption</label>
              <textarea class="form-control" id="post-caption" rows="3"></textarea>
            </div>
            <div class="form-group">
              <div>
                <button id="submit-post" type="submit" class="btn btn-success">
                  POST
                </button>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>

           
                  

  
  <script src="/js/addPost.js">