<div class="jumbotron">
    <h1>ShapeShift</h1>
</div>
<div class="container-fluid text-center">
    <div class="row content">
        <div class="col-sm-2 sidenav">
            <div class="side">
                <div>
                    {{#if blogs.[0].user.workouts.length}}
                    <a href="/workout/{{blogs.[0].user.workouts.[0].id}}">
                        <p> {{format_date blogs.[0].user.workouts.[0].workout_date}}</p>
                        <p>{{blogs.[0].user.workouts.[0].details}}</p>
                    </a>
                    {{/if}}
                </div>
                <div>
                  <a href="/workout/{{blogs.[1].user.workouts.[0].id}}">
                        <p> {{format_date blogs.[1].user.workouts.[0].workout_date}}</p>
                        <p>{{blogs.[1].user.workouts.[0].details}}</p>
                    </a>
                </div>
                <div>
                  <a href="/workout/{{blogs.[2].user.workouts.[0].id}}">
                        <p> {{format_date blogs.[2].user.workouts.[0].workout_date}}</p>
                        <p>{{blogs.[2].user.workouts.[0].details}}</p>
                    </a>
                </div>

            </div>

        </div>
        <div class="container-fluid text-center">
            <div class="row content">
                <div class="col-sm-8 text-center">
                    <h1>ShapeShift</h1>
                    <h3>Have YOU been coding and havent left your chair all day?</h3>
                    <h3>Wanting to change your shape?</h3>
                    <h3>ShapeShift is for you!</h3>
                    <button type="button" class="btn btn-default">Get Started</button>

                    <h2>Blogs</h2>
                    <div class="post">
                        <h3>{{blogs.[0].title}}</h3>
                        <p>{{blogs.[0].description}}</p>

                    </div>
                </div>


            </div>
        </div>
    </div>
</div>

<footer class="container-fluid text-center">
    <p>ShapeShifters </p>
</footer>

</body>