<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="//code.jquery.com/ui/1.13.2/themes/base/jquery-ui.css">
    <link rel="stylesheet" href="/resources/demos/style.css">
    <script src="https://code.jquery.com/jquery-3.6.0.js"></script>
    <script src="https://code.jquery.com/ui/1.13.2/jquery-ui.js"></script>
    <link src="./css/profilepage.css">

    <style> 
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Set a common font family for the entire page */
body {
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}

.background {
  background-image:url("../public/images/AdobeStock_486189863_Preview.jpeg");
}

/* Style the jQuery UI widget and input container */
.ui-widget {
    text-align: center;
}

.input-container label {
    display: inline-block;
    margin-right: 10px;
    text-align: center;
    width: 200px;
}

/* Style the input fields */
.ui-widget input {
    width: 400px;
    padding: 5px;
    border: 1px solid #ccc;
    border-radius: 5px;
    float: center;
}

/* Style the autocomplete dropdown */
.ui-autocomplete {
    max-height: 150px;
    overflow-y: auto;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #fff;
}

/* Style the items in the dropdown */
.ui-menu-item {
    padding: 8px 12px;
    font-size: 16px;
    color: #333;
}

/* General styling for upper-body and its elements */
.upper-body {
    display: flex;
    gap: 20px;
    color: #428bca;
    margin-right: 2px;
    line-height: 1.428571429;
    border: 1px solid transparent;
    border-radius: 4px 4px 0 0;
    padding: 10px 15px;
    margin-top: 20px;
    margin-left: 30px;
}

.upper-body div {
    color: #428bca;
    text-decoration: none;
    font-family: "Open Sans", sans-serif;
    cursor: pointer;
    border-top-left-radius: 5px;
    border-top-right-radius: 3px;
    padding: 8px 12px;
}

.upper-body div:hover {
    background-color: rgb(238, 238, 238);
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;
}

.upper-body-data {
    padding: 10px;
    margin: -6.9px;
    color: rgb(85, 85, 85);
    font-size: 14px;
    border-bottom: none;
}

.upper-body  .focus {
    border: 1px solid #ccc;
    background-color: white;
    border-bottom: none;
    border-radius: px;
    color: rgb(85, 85, 85);
}

.upper-body-data:focus {
    border: 1px solid #ccc;
    background-color: white;
    border-bottom: none;
    color: rgb(85, 85, 85);
}

.input-box{
    padding: 5px;
    width: 50%;
    color: #555;
    border: 1px solid #ccc;
    background-color: #fff;
    background-image: none;
    border-radius: 4px;
    box-shadow: inset 0 1px 1px rgb(0 0 0 / 8%);
    
}

.input-box:focus{
    outline:none;
}
select[name="birth-data"]{
    width: 10%;
}

.form-group div #gender-option{
    width:8%;
}
#gender-option{
    display: inline-block;
    width: 600px; 
    text-align:left;
    margin-bottom: -50px;
}
#gender_female{
    margin-left: 212px;
}


#email-id{
    display: inline-block;
    border: none;
}
.BM-input{
    width: 25%;
    border-bottom-right-radius:0px;
    border-top-right-radius: 0px;
    border-right: none;
}
.BM-height{
    width: 8%;
}



/* Styling for the section and profile elements */
section {
    display: grid;
    grid-template-columns: 80% 20%;
    gap: 10px;
    margin: auto;
    margin-bottom: 50px;
    margin-top: 30px;
    width: 98%;
}

#profile {
    display: grid;
    text-align: center;
    min-height: 10px;
    padding: 30px;
    margin-bottom: 20px;
    background-color: #f5f5f5;
    border: 1px solid #e3e3e3;
    border-radius: 4px;
    height: 400px;
    margin-top: 50px;
}

#general-container,
#Body_measurements-container,
#privacy-data {
    border-top: 1px solid #ccc;
    margin-top: -5px;
    margin-left: 30px;
}

#general-name  h2,
#Body_measurements-container  h2,
#privacy-data h2 {
    margin-top: 30px;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-weight: normal;
    color: rgb(51, 51, 51);
    margin-left: 10px;
}

#general-name  p {
    color: rgb(42, 100, 150);
    font-size: 14px;
}

/* Styling for buttons and save button */
button {
    color: #fff;
    background: #2e53cc;
    border-color: #2e53cc;
    display: inline-block;
    font-size: 14px;
    text-align: center;
    cursor: pointer;
    border: 1px solid transparent;
    border-radius: 4px;
    font-family: "Open Sans", sans-serif;
}

.profile-pic-button {
    height: 39px;
    width: 95%;
    margin: auto;
    margin-top: 7px;
}

button:hover {
    background: #30b065;
    border-color: #207744;
}

#profile{
    display: grid;
    text-align: center;
    min-height: 10px;
    padding: 90px;
    margin-bottom: 20px;
    background-color: #f5f5f5;
    border: 1px solid #e3e3e3;
    border-radius: 4px;
    height: 320px;
    margin-top: -8px;
    /* border: 1px solid red; */
     float: right; */
}

#profile p {
    margin-top: 0px;
    margin-bottom: 20px;
}

#profile h4 {
    color: rgb(36, 82, 105);
    font-size: 20px;
}

.save {
    padding: 5px 10px;
    margin-left: 10px;
}

.save-button {
    padding: 10px;
    background-color: rgb(238, 238, 238);
    margin-top: 20px;
    border: none;
    border-top: 1px solid rgb(208, 200, 200);
    margin-left: 0px;
}

/* Styling for labels, input boxes, and select elements */
label {
    display: inline-block;
    width: 210px;
    text-align: right;
}
 </style> 

<!--  ABOVE THIS IS THE CSS CODE -->
</head>
<body>
    {{ header}}
    {{ section}}
    {{ footer}}

<div class = "background" id="container">
   <h1></h1>
</div>


<section>
    {{ bodyContainer}}
    {{ profile}}
</section>

<div id="body-container">
    {{ upperBody}}
    {{ generalContainer}}
    {{ bodyMeasurements}}
    {{ privacyData}}
</div>


<div class="upper-body">
    <div class="upper-body-data focus" id="general" tabindex="1">Profile</div>
    <div class="upper-body-data" id="Body_measurements" tabindex="1">Body Measurements</div>
</div>


<div class="tab-content" id="general-content">
<div id="general-container">
    <div id="general-name">
        <h2>Profile</h2>
        <p>Delete profile</p>
    </div>
    <div>
        <form>
            {{ emailField}}
            {{ nameField}}
            {{ genderField}}
            {{ birthDateField}}
            {{ passwordFields}}
            {{ unitsField}}
            {{ timezoneField}}
            {{ userDescriptionField}}
        </form>
    </div>
</div>

<!-- might just put this search feature  in the homepage -->
<div class="search-bar">
<script>
  $( function() {
    var availableTags = [
      "ActionScript",
      "AppleScript",
      "Asp",
      "BASIC",
      "C",
      "C++",
      "Clojure",
      "COBOL",
      "ColdFusion",
      "Erlang",
      "Fortran",
      "Groovy",
      "Haskell",
      "Java",
      "JavaScript",
      "Lisp",
      "Perl",
      "PHP",
      "Python",
      "Ruby",
      "Scala",
      "Scheme"
    ];
    $( "#tags" ).autocomplete({
      source: availableTags
    });
  } );
  </script>
  </div>
  

<div id="profile">
          <div class="profile-image">
              <img src="../public/images/04012019-25.jpg">
          </div>

          <button class="profile-pic-button">Change profile picture</button>
          <h4>0</h4>
          <p>Workouts added</p>
          <h4>0 lbs</h4>
          <p>Lifted</p>

      </div>
 
<div class="ui-widget">
  <label for="tags">Tags: </label>
  <input id="tags">
</div>

<label class="email" for="email-id">Email: </label>
<input class="input-box" id="email-id" type="email"><br>

<label for="name1">Your name:</label>
<input id="name1" class="input-box" type="text"><br>

<div class="radio buttons">
<label id="gender" for="gender-option" class="control-label">Gender:</label>
<label id="gender-option" for="gender_male" class="radio-button">
    <input id="gender_male" type="radio" name="gender" value="male">
    Male
</label><br>
<label id="gender-option" for="gender_female" class="radio-button">
    <input id="gender_female" type="radio" name="gender" value="female">
    Female
</label>
</div>

<!-- Below this is the code for the dd/mm/yyyy-->
<label class="b-day" for="b-day b-month">Birth date:</label>
<select class="input-box" name="birth-data" id="b-month" class="birth-data">
    <option>-Month-</option>
</select>
<select class="input-box" name="birth-data" id="b-day" class="birth-data">
    <option>-Day-</option>
</select>
<select class="input-box" name="birth-data" id="b-year" class="birth-data">
    <option>-Year-</option>
</select><br> 

<script>
                        const monthDropdown = document.getElementById("b-month");
                        const dayDropdown = document.getElementById("b-day");
                        const yearDropdown = document.getElementById("b-year");
                      
                        // Function to populate the month dropdown
                        for (let i = 1; i <= 12; i++) {
                          const option = document.createElement("option");
                          option.value = i;
                          option.textContent = i;
                          monthDropdown.appendChild(option);
                        }
                      
                        // Function to populate the day dropdown
                        for (let i = 1; i <= 31; i++) {
                          const option = document.createElement("option");
                          option.value = i;
                          option.textContent = i;
                          dayDropdown.appendChild(option);
                        }
                      
                        // Function to populate the year dropdown
                        const currentYear = new Date().getFullYear();
                        for (let i = currentYear; i >= currentYear - 100; i--) {
                          const option = document.createElement("option");
                          option.value = i;
                          option.textContent = i;
                          yearDropdown.appendChild(option);
                        }
                      </script>
<!-- THE CODE ABOVE IS FOR THE MONTH DAY AND YEAR DROP DOWN -->

 

<label for="password1">Password: </label>
<input class="input-box" id="password1" type="password"><br>
<label for="password2">Confirmed Password: </label>
<input class="input-box" id="password2" type="password"><br>

<label for="units">Preferred units:</label>
<select class="input-box" name="units" id="units">
    <option> Metric(kgs)</option>
    <option> Imperial (lbs)</option>
</select>
<br>

<label for="timezones">Timezone:</label>
<select class="input-box" name="timezones" id="timezones">
</select>
<br>

<div class="form-group">
    <label for="user-description" class="col-sm-3 control-label">Your description for profile page:</label>
    <textarea id="user-description" name="user-description" class="input-box" rows="2" style="resize: both;"></textarea>
</div>
<br>

<!--  <div class="not-display" id="Body_measurements-container"> -->
<div class="tab-content" id="Body_measurements-content"></div>
    <h2>Body measurements</h2>
    {{ heightInput}}
    <label for="Waist">Waist:</label>
    <input class="input-box BM-input" type="number" id="Waist"><span class="input-box units">cm</span>
    <br>
    <label for="Hips">Hips:</label>
    <input class="input-box BM-input" type="number" id="Hips"><span class="input-box units">cm</span>
    <br>
    <label for="Neck">Neck:</label>
    <input class="input-box BM-input" type="number" id="Neck"><span class="input-box units">cm</span>
    <br>
</div>
</div>

<div class="height-input">
    <label for="height1 height2">Height:</label>
    <input class="input-box BM-input BM-height" type="number" id="height1"><span class="input-box units">m</span>
    <input class="input-box BM-input BM-height" type="number" id="height2"><span class="input-box units">cm</span>
</div>
<br>

<!-- Code below is for the save button -->
 <div class="save-button ">
              <button type="submit" class="save">Save</button>
          </div>
</div>    

<script src="./js/profile.js"></script>

</body>
</html>
