{{!-- <!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="//code.jquery.com/ui/1.13.2/themes/base/jquery-ui.css">
    <link rel="stylesheet" href="/resources/demos/style.css">
    <script src="https://code.jquery.com/jquery-3.6.0.js"></script>
    <script src="https://code.jquery.com/ui/1.13.2/jquery-ui.js"></script>
    <link rel="stylesheet" href="/css/profilepage.css">

</head>
<body> --}}
    {{ header}}
    {{ section}}
    {{ footer}}

<div class = "background" id="container">
   <h1></h1>
</div>


<section>
    {{ bodyContainer}}
    {{ profile}}
</section>

<div id="body-container">
    {{ upperBody}}
    {{ generalContainer}}
    {{ bodyMeasurements}}
    {{ privacyData}}
</div>


<div class="upper-body">
    <div class="upper-body-data focus" id="general" tabindex="1">Profile</div>
    <div class="upper-body-data" id="Body_measurements" tabindex="1">Body Measurements</div>
</div>


<div class="tab-content" id="general-content">
<div id="general-container">
    <div id="general-name">
        <h2>Profile</h2>
    </div>
    <div>
        <form>
            {{ emailField}}
            {{ nameField}}
            {{ genderField}}
            {{ birthDateField}}
            {{ passwordFields}}
            {{ unitsField}}
            {{ timezoneField}}
            {{ userDescriptionField}}
        </form>
    </div>
</div>


<div id="profile">
          <div class="profile-image">
              <img src="/images/04012019-25.jpg">
          </div>


          <button class="profile-pic-button">Change profile picture</button>
      </div>

{{!-- <label class="email" for="email-id">Email: </label>
<input class="input-box" id="email-id" type="email"><br>

<label for="name1">Your name:</label>
<input id="name1" class="input-box" type="text"><br> --}}

<form>
<div class="radio buttons">
<label id="gender" for="gender-option" class="control-label">Gender:</label>
<label id="gender-option" for="gender_male" class="radio-button">
    <input id="gender_male" type="radio" name="gender" value="male">
    Male
</label><br>
<label id="gender-option" for="gender_female" class="radio-button">
    <input id="gender_female" type="radio" name="gender" value="female">
    Female
</label>
</div>

<!-- Below this is the code for the dd/mm/yyyy-->
<label class="b-day" for="b-day b-month">Birth date:</label>
<select class="input-box" name="birth-data" id="b-month" class="birth-data">
    <option>-Month-</option>
</select>
<select class="input-box" name="birth-data" id="b-day" class="birth-data">
    <option>-Day-</option>
</select>
<select class="input-box" name="birth-data" id="b-year" class="birth-data">
    <option>-Year-</option>
</select><br> 

<script>
                        const monthDropdown = document.getElementById("b-month");
                        const dayDropdown = document.getElementById("b-day");
                        const yearDropdown = document.getElementById("b-year");
                      
                        // Function to populate the month dropdown
                        for (let i = 1; i <= 12; i++) {
                          const option = document.createElement("option");
                          option.value = i;
                          option.textContent = i;
                          monthDropdown.appendChild(option);
                        }
                      
                        // Function to populate the day dropdown
                        for (let i = 1; i <= 31; i++) {
                          const option = document.createElement("option");
                          option.value = i;
                          option.textContent = i;
                          dayDropdown.appendChild(option);
                        }
                      
                        // Function to populate the year dropdown
                        const currentYear = new Date().getFullYear();
                        for (let i = currentYear; i >= currentYear - 100; i--) {
                          const option = document.createElement("option");
                          option.value = i;
                          option.textContent = i;
                          yearDropdown.appendChild(option);
                        }
                      </script>
<!-- THE CODE ABOVE IS FOR THE MONTH DAY AND YEAR DROP DOWN -->

 

{{!-- <label for="password1">Password: </label>
<input class="input-box" id="password1" type="password"><br>
<label for="password2">Confirmed Password: </label>
<input class="input-box" id="password2" type="password"><br> --}}

<label for="units">Preferred units:</label>
<select class="input-box" name="units" id="units">
    <option> Imperial (lbs)</option>
    <option> Metric(kgs)</option>
</select>
<br>

<label for="timezones">Timezone:</label>
<select class="input-box" name="timezones" id="timezones">
</select>
<br>

<div class="form-group">
    <label for="user-description" class="col-sm-3 control-label">Your description for profile page:</label>
    <textarea id="user-description" name="user-description" class="input-box" rows="2" style="resize: both;"></textarea>
</div>
<br>

<!--  <div class="not-display" id="Body_measurements-container"> -->
<div class="tab-content" id="Body_measurements-content"></div>
    <h2>Body measurements</h2>
    {{ heightInput}}
    <label for="Waist">Waist:</label>
    <input class="input-box BM-input" type="number" id="Waist"><span class="input-box units">cm</span>
    <br>
    <label for="Hips">Hips:</label>
    <input class="input-box BM-input" type="number" id="Hips"><span class="input-box units">cm</span>
    <br>
    <label for="Neck">Neck:</label>
    <input class="input-box BM-input" type="number" id="Neck"><span class="input-box units">cm</span>
    <br>
</div>

<div class="height-input">
    <label for="height1 height2">Height:</label>
    <input class="input-box BM-input BM-height" type="number" id="height1"><span class="input-box units">ft</span>
    <input class="input-box BM-input BM-height" type="number" id="height2"><span class="input-box units">in</span>
</div>

<br>

<!-- Code below is for the save button -->
 <div class="save-button ">
              <button type="submit" id='save-button' class="save">Save</button>
          </div>
</div>
</form>    

<script src="/js/profile.js"></script>

{{!-- </body>
</html> --}}
